<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Fullname company:</strong>
  <%= @profile.fullname_company %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @profile.image_data %>
</p>

<p>
  <strong>Short bio:</strong>
  <%= @profile.short_bio %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @profile.mobile %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @profile.account_number %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
