<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @address.user %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @address.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @address.latitude %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @address.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @address.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @address.country_code %>
</p>

<p>
  <strong>Address type:</strong>
  <%= @address.address_type %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
