<div class="card" style="width:300px">
    
    <%= link_to product_path(product) do %>
        <%= image_tag product.image_url(version_size), width: 400, class: 'card-img-top' %>
        <%=  product.unit_price.to_s %>
    <% end %>
    
    <div class="card-body">
        <div class="card-text">
            <%= product.product_type + ' ' + product.description %> 
            <%= product.unit_weight.to_s + ' ' + product.unit.to_s %>  
        </div>
    </div>

    <div class="card-footer text-muted">



    </div>
</div>
